{block content}
    <div>
        <h2>
            Kontakt
        </h2>
    </div>

    <table>
        <tbody>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
{/block}