div {
    padding: 10px;
    margin: 10px;
}

#map div {
    padding: 0;
    margin: 0;
}

a {
    padding: 10px;
    margin: 10px;
}

body {
    background: url("../images/sky.png");
    padding: 0;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
}

#main {
    margin: 0;
    padding: 0;
    /*background-color: #272728;*/
    /*border: solid;*/
    border-radius: 5px;
}

.header {
    /*opacity: 30%;*/
    /*filter: alpha(opacity=30);*/
    /*color: #c40909;*/
    /*color: white;*/
    font-size: 50px;
    padding: 30px;
    margin: 0 0 10px;
    float: top;
    text-align: center;
}

.content {
    /*color: #c40909;*/
    /*color: white;*/
    font-size: 30px;
    /*padding-top: 30px;*/
    /*margin-top: 30px;*/
    min-height: 1000px;
    margin-bottom: 30px;
    background: white;
    border: solid white;
    border-radius: 5px;
    /*background-color: yellow;*/
}

.content-spacer {
    margin-top: 15px;
    border: 0 solid darkorange;
    border-top-width: 1px;
}

.navbar-top {
    margin: 0;
    padding: 0;
    /*background-color: blue;*/
}

td {
    border: 3px solid;
}

.inline-list {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.inline-list li {
    background-color: white;
    padding: 0;
    margin: 10px;
    /*padding: 0;*/
    display: inline-block;
    border: solid 2px darkorange;
    border-radius: 5px;
}

.menu-item {
    alignment: center;
    margin: 0;
    padding: auto;
    text-decoration: none;
    font-size: 11pt;
    display: block;
    min-width: 150px;
    color: black;
}

.inline-list a:visited {
    color: black;
}

.inline-list li:hover {
    background-color: #f9c666;
    /*background-color: #f2944d;*/
}

.menu-item:hover {
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 0;
    margin: -2px;
    /*background-color: #f1f1f1;*/
    background-color: white;
    min-width: 170px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: solid 2px darkorange;
    border-radius: 5px;
}

.dropdown-content a {
    margin: 0;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    min-width: 150px;
    min-height: 20px;
}

.top-border {
    border: 0 solid black;
    border-top-width: 1px;
}

.dropdown-content a:hover {
    /*background-color: #272728;*/
    background-color: #f9c666;
    font-weight: bold;
}

.dropdown-btn {
    cursor: pointer;
}

.show {
    display: block;
}

.dropdown-block {
    padding: 0;
    margin: 0;
}

.nav {
    padding: 10px;
    margin: 0;
}

.page-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25pt;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bottom-content {
    float: right;
    font-size: 10pt;
}

.inner-content {
    margin: 0;
    padding: 0;
    min-height: 950px;
}

table.contact-tbl {
    margin: auto;
    /*margin-left: 5%;*/
    text-align: left;
    border-collapse: collapse;
    max-width: 500px;
    float: left;
}

.text-content {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 15pt;
}

table.contact-tbl tr {
    border-top: solid #bcbcbc;
    /*border-top: solid red;*/
    border-width: 2px;
}

table.contact-tbl td {
    border: none;
    text-align: left;
    padding-left: 30px;
    word-break: normal;
}

table.contact-tbl th {
    padding-left: 10px;
}

img.gallery-img {
    margin: 2%;
    max-width: 30%;
    height: auto;
    width: auto;
}

.gallery {
    /*column-count: 2;*/
    list-style: none;
    margin-left: -10%;
    margin-right: -10%;
}

.gallery-list {
    margin: 3%;
    padding: 3%;
    border: 2px solid black;
    border-radius: 5px;
}

#map {
    width: 800px;
    height: 500px;
    padding: 0;
    margin: 80px auto 0;
}